<%-# coding: UTF-8 -%>
<table class="centered">
  <tr>
    <th>Name</th>
    <th>Drank</th>
    <th>Time</th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= drink.person.name %></td>
    <td><%= drink.amount %> oz.</td>
    <td><%=l drink.created_at.getlocal, :format => :clock %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "Home", root_path %></p>
