<%-# coding: UTF-8 -%>
<table class="centered">
  <tr>
    <th>Name</th>
    <th>Drank</th>
  </tr>

<% @drinks.each do |drink| %>
  <tr>
    <td><%= drink.person.name %></td>
    <td><%= drink.amount %> oz.</td>
  </tr>
<% end %>
</table>
