@charset "UTF-8";

/* Reset */
html,body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
}
.content {
  width: 960px;
}
@media screen and (max-width: 980px) {
  .content {
    width: 640px;
  }
}
@media screen and (max-width: 660px) {
  .content {
    width: 320px;
  }
}

/* Global */
.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Header */
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 2em;
  margin: 0 0 0.1em 0;
}
h1 span {
  display: block;
  text-align: center;
  width: 320px;
}
h1 span a {
  color: #fff;
  text-decoration: none;
}

/* Buttons */
input {
  -webkit-appearance: none;
  font-size: 14px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
}
@media screen and (min-width: 660px) {
  input {
    font-size: 1.25em;
  }
}

.water {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #36e), color-stop(0.6, #69f));
  color: #eee;
}
