<!DOCTYPE html>
<html>
<head>
  <title>Water Wars</title>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=300" />
  <%= stylesheet_link_tag "application" %>
  <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
</head>
<body>
<%= yield %>
</body>
</html>
